<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>menu</title>
	<link href="css/style.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>

<body>
	<nav>
		<ul class="main_menu">
			<li>
				<a href="#">Установка дверей, окон</a>
				<ul class="submenu">
					<li><a href="#">Пункт 1.1</a></li>
					<li>
						<a href="#">Пункт 1.2</a>
						<!--<ul class="submenu">
							<li><a href="#">Пункт 1.2.1</a></li>
							<li>
								<a href="#">Пункт 1.2.2</a>
								<ul class="submenu">
									<li><a href="#">Пункт внутренний 1</a></li>
									<li><a href="#">Пункт внутренний 2</a></li>
									<li><a href="#">Пункт внутренний 3</a></li>
									<li><a href="#">Пункт внутренний 4</a></li>
								</ul>
							</li>
						</ul>-->
					</li>
					<li><a href="#">Пункт 1.3</a></li>
				</ul>
			</li>
			<li><a href="#">Информация об ассортименте</a></li>
			<li>
				<a href="#">Новости о нас</a>
					<ul class="submenu">
						<li><a href="#">Пункт внутренний 1</a></li>
						<li><a href="#">Пункт внутренний 2</a></li>
						<li><a href="#">Пункт внутренний 3</a></li>
						<li><a href="#">Пункт внутренний 4</a></li>
					</ul>
			</li>
		    <li><a href="#">Контактная информация</a></li>
		</ul>
		<form class="search_form" method="get" action="">
			<input type="search" name="search" placeholder="Поиск...">
			<button type="submit"></button>
		</form>
	</nav>
</body>
</html>
